<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matura-Wunschfächer</title>
</head>
<body>
    <form action = "/subjectData" method = "post">
        AMEC <input value="amec" type="checkbox"><br>
        NWES <input value="nwes" type="checkbox"><br>
        UFW <input value="ufw" type="checkbox"><br>
        BET <input value="bet" type="checkbox"><br>
        INFI <input value="infi" type="checkbox"><br>
        OTHER <input value="other" type="checkbox"><br>
        <input type="submit" name="submit" value="Submit" />
    </form>
</body>
<script>

</script>
</html>
