<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grafische Darstellung</title>
</head>
<body>
<h1>Votes:</h1>

{% for key, value in votes.items() %}
    <p>Subject: {{key}} - Votes: {{value}}</p>
{% endfor %}

<p>How many users have to vote? {{allvotes["all_users"]}}</p>
<p>How many users have already voted? {{allvotes["voted_users"]}}</p>
<p>How many users still have to vote? {{allvotes["!voted_users"]}}</p>

<br>

<a href="/logout"><button>Logout</button></a>
</body>
</html>